* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    background-color: #000000;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
    margin: 0 auto;
}

#navbar__logo {
background-color: #272119;
background-image: linear-gradient(to top, #585034 0%, #221c15 100%);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2.25rem;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.navbar__item {
    height: 120px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 230px;
}

.button {
    border-radius: 15px;
    background: #977731;
    padding: 5px 35px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
   cursor: pointer;
    transition: all 0.35s ease-out;
    text-decoration: none;
}

.button:hover {
    background: #706150;
    background-color: #9c767600;
}

.navbar__links:hover {
    color: #ffcb8f;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

    .navbar__toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: -1000px;
        left: -0%;
        opacity: 0;
        transition: all 0.5s ease;
        background: #000000;
    }

    .navbar__menu.active {
        background: #000000;
        left: 0;
        top: 70px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        bottom: 25px;
    }

    .navbar__item {
        height: 80px;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__links:hover {
        color: #ffcb8f;
        transition: all 0.3s ease;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

        .navbar__btn {
padding-bottom: 2rem;
    }

    .button {
        padding: 5px 70px;
        font-size: 2rem;
    }

    .navbar__toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
        #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
            #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* Guts Section */
.main {
background-color: #181818;
padding: 2%;
}   

.main__container {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-self: center;
margin: 0 auto;
height: 90vh;
background-color: #000000;
z-index: 1;
width: 100%;
max-width: 1300px;
padding: 0 50px;
}

.main__content h1 {
font-size: 4rem;
background-color: #000000;
background-image: linear-gradient(to top, #977731 0%, #221c15 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 1.75rem;
background-color: #5a3518;
background-image: linear-gradient(to top, #b9b745 0%, #443c2c 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
}

.main__content p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5;
}

.main__btn {
    font-size: 1.5rem;
    padding: 10px 70px;
    background-image: linear-gradient(to top, #b9b745 0%, #443c2c 100%);
    border-radius: 15px;
}

.main__btn:after {
content: '';
top: 0;
left: 0;
width: 0;
height: 100%;
background: #88414100;
    background-color: #88414100;

}

.main__btn:hover {
    background: #856a4b;
    
        transition: all 0.3s ease;
}

.main__btn:hover:after {
width: 100%;
}

.main__img--container {
text-align: center;
}

#main__img {
    height: 50%;
     width: 50%;
}

/* Mobile */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 3.45rem;
    }

    .main__content h1 {
        font-size: 3rem;
    }

        .main__content h2 {
        font-size: 1.55rem;
    }

    .main__content p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2.25rem;
    }

        .main__content h2 {
        font-size: 1.25rem;
    }

    .main__btn {
        font-size: 1.25rem;
        padding: 10px 50px;
    }

}

.latest__main {
    background-color: #181818;
}

.latest__container {
    background-color: #272119;
background-image: linear-gradient(to top, #b3a46f 0%, #221c15 100%);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    margin: 50px 0;
    color: #fff;
}

.latest__img {
    width: 55%;
      background-image: linear-gradient(to bottom,
rgba(0,0,0,0) 0%,
rgba(0, 0, 0, 0) 100%);
}

.latest__img--container {
    text-align: center;
    margin-top: 20px;
    padding: 70px;
    color: #fff;
}
.main__containter-proj {
    display: grid;
    grid-template-columns: 1fr;
    text-align : center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content-proj h1 {
    font-size: 4rem;
    background-color: #000000;
    background-image: linear-gradient(to top, #806c42 0%, #27231e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content-proj p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5;
}

.render__section {

    background-color: #181818;
    padding: 2%;

}

.render__imgs {
    color: #fff;
}
.render__img {
        width: 40%;
}

@media screen and (max-width: 680px) {
    .render__img {
        width: 70%;
    }
    
}

.grid--scenes {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 330px;
    padding: 40px;
}

.BTS__img {
 width: 190%;
}

@media screen and (max-width: 680px) {
.grid--scenes {
    display: grid;
    grid-template-columns: 260px 260px;
        grid-template-rows: 120px 120px 120px 120px;
    gap: 1px;
    padding: 15px;
}
.BTS__img {
 width: 70%;
}

    
}
@media screen and (max-height: 700px) {
.grid--scenes {
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
        grid-template-rows: 120px 120px 120px 120px;
    gap: 1px;
    padding: 15px;
}
.BTS__img {
 width: 70%;
}

    
}